/* @import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic); */
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');


/* Color Scheme from http://paletton.com/#uid=23x0u0kcrtC0XXL45Fao8lTtscO */

body
  {
    font-size:17px;
/*     font-family:'Noto Sans', Lucida Sans Unicode, Lucida Grande, sans-serif; */
    font-family:'Alegreya Sans', Lucida Sans Unicode, Lucida Grande, sans-serif;
    text-align:justify;
    background-color:#EFF3F6;
    color:#000000;
    margin-top: 8ex;
/*     text-ren­der­ing: op­ti­mizeLeg­i­bil­i­ty; */
  }
  
#cont
  { 
    overflow:auto;
    width:100%;
    border:1px solid #000000;
    padding:0px;
  }

div
  {  
    background-color:#FFFFFF;
/*    border:1px solid #AAB7C1;*/
    border-radius: 0px;
    padding:0.75em;
    width:760px;
    margin-left:auto;
    margin-right:auto;    
  }

div.text
  {
    border:0px solid #AAB7C1;
    line-height:21px;
  }

.container { 
    /* fixed position a zero-height full width container */
    position: fixed;
    top: -1; /* or whatever position is desired */
    left: -1.5em;
    right: 0;
    height: 0;
    width:760px;
    /* center all inline content */
    text-align: center;
    padding: 0em;
    border: 0px;
  }
  
.calen { 
    /* fixed position a zero-height full width container */
    position: fixed;
    top: -1px; 
    left: -1px;
    width:180px;
    text-align: left;
    background-color:#EFF3F6;
    padding: 0em;
    border: 0px solid #214E70;
  } 

.top
  {
/*     display: inline-block; */
    background-color:#618098;
    color:#FFFFFF;
    width:759px;
    margin-left:-1px;
/*     margin-right:-6px; */
    text-align: left;
    margin-bottom: 10ex;
/*     border: 1px solid #214E70; */
    border: 1px solid #618098;
  }

div.cv /*Slightly different formatting in order to make the CV legible*/
  {
    width:64em;
/*     border:1px solid #AAB7C1; */
    border:0px solid #AAB7C1;
  }

span.nav { }
  
span.home {float:right;}

span.login {float:right;}
  
  
div.addy
  {
/*     text-align:center; */
    border:0px solid #AAB7C1;
/*     border:1px solid #AAB7C1; */
    line-height:21px;
    width:20em;
  }



div.abs /* For abstract boxes on links page */
  {
    background-color:#EFF3F6;
/*    border:1px solid #AAB7C1;*/
    border:0px solid #AAB7C1;
    width: 660px;
    padding:0.5em;
    font-size:15px;
    line-height:18px;
    text-align:justify;
  }

div.hand /* For handout boxes on links page */
  {
    background-color:#EFF3F6;
    border:0px;
    padding:0.5em;
    font-size:15px;
    line-height:18px;
    text-align:justify;
  }

div.title
  {
    margin-left:1.5em;
    margin-bottom:0em
  }
  
.left
  {
    width:50%;
    float:left;
  }
  
.right
  {
    width:50%;
    height:100%;
    float:right;
  }
  
.photo
{ float:left;
/*    border:1px solid #AAB7C1;*/
    border:0px solid #AAB7C1;
  border-radius: 1px;
  margin:1ex;
}


li
{
  padding-left: 0.5em;
  
}

ul
{
  padding-left: 2em;
  padding-right: 2.5em;
}

h1 
{
 font-size:20px;
/*  font-family:'Open Sans',serif; */
 color:#092942;
 font-weight:600;
 margin-top:0px;
}

h2 
{ 
  font-size:20px;
  color:#092942;
  margin-top:0em;
  font-weight:400;
}

h3 
{
  font-size:18px;
  color:#092942;
  font-weight:400;
}

/*Link Formatting*/

a:link 
  {
    color:#663E08; 
    border-bottom: 1px dotted #673E13; 
    text-decoration:none;
  }
  
a:visited 
  {
    color:#663E08; 
    text-decoration:none;
  }
  
a:hover
  {
    color:#618098; 
    border-bottom: 1px; 
    text-decoration:none;
  }
  
  
a.ext:after 
{
  content: "\21D7";
}

a.doc:after 
{
content: "\21D3";
  
}


/* Navigation Links Formatting */ 

.top a:link 
  {
    color:#EFF3F6; 
    border-bottom: 1px dotted #EFF3F6; 
    text-decoration:none;
  }
  
.top a:visited 
  {
    color:#EFF3F6; 
    border-bottom: 1px dotted #EFF3F6; 
    text-decoration:none;  }
  
.top a:hover
  {
    color:#ECC590; 
    border-bottom: 1px; 
    text-decoration:none;
  }


p {text-align:justify;margin-top:0;margin-botton:0;}
p.link {text-align:right;margin-top:0em;margin-bottom:0em;}
table {border:0; font-size:100%; line-height:125%}


div.cols {-moz-column-count: 3; -webkit-column-count: 3; column-count: 3; -webkit-margin-before: 0; -webkit-margin-after: 0;}
div.cols2 {-moz-column-count: 2; -moz-column-gap: 2em; -webkit-column-count: 2; webkit-column-gap: 2em; column-count: 2; column-gap: 2em;}

/* u.dotted{border-bottom: 1px dashed #999; text-decoration: none;} */

