@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');

/* Layout */

body {
    font-family:'Nunito', sans-serif;
    font-size:16px;
    background: #EFF3F6;
    margin-left:1.5em;
    counter-reset: example;
    padding-top: 32px;
}

div {
    text-align: justify;
    width: 68.75%;
    max-width: 50em;
    min-width: 30em;
}

header {
    height: 32px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left:0.5em;
    padding-top:8px;
    background: #214E70;
    border-width: 1em;
    border-color: #092942;
    border-left-style: solid;
    color: #ADB9C2;
}

header .nav {
    position: fixed;
    right: 0;
    padding-right: 1em;
}

/* Sidenote code */

span.note {
    float: right;
    width: 42%;
    margin-right: -45%;
    font-family:'Nunito', sans-serif;
    color: #214E70;
    font-size: 87.5%;
    font-weight:400;
    text-align: left;
    padding-bottom: 1em;
}

span.check {
    color: #FF0000;
}

/* Formatting stuff */

code {
    font-family: 'Inconsolata', monospace;
}

.blockquote {
    padding: 0.75em 1em 0.625em 1em;
    border-radius: 0.375em;
    border-left-style: solid;
    border-width: 0.375em;
    border-color: #618098;
    background: #FFFFFF;
}

.codeblock {
    padding: 0.75em 0em 0.625em 1em;
    border-radius: 0.375em;
    border-left-style: solid;
    border-width: 0.375em;
    border-color: #618098;
    font-family: 'Inconsolata', monospace;
    font-weight:700;
    background: black;
    color: #ADB9C2;
}

.term {
/*     font-style: italic; */
    font-variant: small-caps;
    font-size:106.25%;
    line-height:94.12%;    /* 1 / 1.0625 */
    letter-Spacing: 0.03125em;
    font-weight:400;
/*     color:#214E70; */
    color:#663E08;
}

.sc {
    font-variant: small-caps;
    font-size:112.5%;
    line-height:88.89%;    /* 1 / 1.125 */
/*    font-weight:400;*/
    letter-Spacing: 0.03125em;
}

p.abstract {
    font-size: 93.75%;
    color: #666;
    font-style: italic;
}

img {
    text-align: center;
    border-radius: 0.25em;
    border-style: solid;
    border-color: #618098;
    border-width:0.25em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.noborder {
    border-width:0em;
}

hr {
    width: 97%;
    max-width: 73em;
    min-width: 43em;
    margin: 0px;
}

em {
    color: #214E70;
}

/*Headers*/

h1 {    
    font-size:150%; /* 150 * 2/3 == 100 (the base font size) */
    color:#618098;
    font-weight:700;
}

h2 { 
    font-size:137.5%; /* 150 * 11/12 == 137.5 */
    color:#618098;
    font-weight:400;
}

h3 { 
    font-size:112.5%; /* 150 * 3/4 == 112.5*/
    color:#618098;
    margin-top:0em;
    font-weight:400;
}

/*Lists*/

ol {
    list-style-type: lower-alpha;
}

/* The following should set up running numbered lists for examples. */

ol.examples {
    padding-left: 0.625em;
    list-style-type: decimal;
}

ol.examples li {
    list-style: none;
}

ol.examples li::before {
    counter-increment: example; 
    content: "(" counter(example) ")";
    padding-right: 0.375em;
}


/*Links and link formatting*/

a:link {
    color:#214E70; 
    border-bottom: 1px dotted #673E13; 
    text-decoration:none;
  }
  
a.img:link {
    color:#214E70; 
    border-bottom: 0px; 
    text-decoration:none;
  }
  
a:visited {
    color:#214E70; 
    text-decoration:none;
  }
  
a:hover {
    color:#663E08; 
    border-bottom: 1px; 
    text-decoration:none;
  }
  
a.ext:after {
  content: "\21D7";
}

a.doc:after {
content: " \1f5ce";  /* Document character */
/* content: "\2B8B"; */ /* Down arrow in circle*/
}
  
a.int:after {
content: "\21B4";
}

header a:link 
  {
    color:#EFF3F6; 
    border-bottom: 1px dotted #EFF3F6; 
    text-decoration:none;
  }
  
header a:visited 
  {
    color:#EFF3F6; 
    border-bottom: 1px dotted #EFF3F6; 
    text-decoration:none;  }
  
header a:hover
  {
    color:#ECC590; 
    border-bottom: 1px; 
    text-decoration:none;
  }


/*Lists and list formatting*/

ul {
    padding-left: 1.625em;
}

li {
    padding-left: 0.375em;
    margin-bottom: 0.5em;
}


/*li:not(:last-child) {
    margin-bottom: 0.5em;
}*/
